@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Nunito:300|Quicksand|Roboto|Maven+Pro');

* {
  font-family: 'Maven Pro', sans-serif !important;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(-101deg, #EDEDED 0%, rgba(237,237,237,0.80) 100%);
}

.children-container {
  flex: 1;
  background-color: green;
}



.blog-post-preview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem 0.25rem;
  border-bottom: 2px solid #EEE;
}

.blog-post-preview:last-child {
  border-bottom-width: 0;
}

.blog-post-preview .title, .blog-post-preview .date, .blog-post-preview .link {
  margin: 0 auto;
}

.blog-post-preview .date {
  color: #555;
  margin-bottom: 1rem;
}
