@import 'breakpoints.scss';

.post-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: 0.3s ease-in;

  .left {
    display: flex;
    flex-direction: column;
    flex: 4;

    .top {
      display: flex;
      flex-direction: column;
      margin: 10px;

    }
    .title{
      font-size: 2em;
      font-weight: bold;
      margin-bottom: 10px;
      color: grey;
      transition: 0.3s ease-in;
    }

    .description{
      color: green;
    }

    .date {
      opacity: 0.5;
    }

    .tags {
      overflow: auto;
      flex: 1;
      display: flex;
      flex-flow: row wrap;
      align-items: flex-end;

      * {
        color: white;
        background-color: lightgrey;
        margin: 10px 5px 10px 10px;
        font-size: 0.6em;
        padding: 0px 10px 0px 10px;
        border-radius: 5px;
        text-transform: uppercase;
        letter-spacing: 5px;
        transition: 0.2s ease-in;

        &:hover {
          background-color: lightgreen;
        }
      }
    }
  }

  .right {
    .post-type {
      margin: 10px;
      border-color: lightblue;
      border-style: solid;
      border-width: 2px;
      border-radius: 10px;
      padding: 0px 10px 0px 10px;
      color: lightblue;
      text-transform: uppercase;
      font-size: 0.6em;
      letter-spacing: 5px;

      transition: 0.2s linear;

      span {
        color: lightgrey;
      }

      &:hover {
        background-color: lightblue;
        color: white;

        span {
          color: white;
        }
      }
    }
  }

  &:hover {
    box-shadow: 0 4px 20px 0 rgba(0,0,0,0.20);

    .title {
      color: black;
    }

  }

  @include respond-to("mobile") {
    flex-direction: column;
    margin-bottom: 10px;

    .right {
      justify-content: center;
      text-align: center;
      padding: 0;

      .post-type {
        font-size: 0.8em;
        padding: 5px;
        // background-color: red;
      }
    }
  }

  @include respond-to("laptop") {
    margin: 10px;
    min-width: 500px;
  }

}
