.post-container {
  display: flex;
  flex-direction: column;
  margin: 10px 20px 20px 20px;
  justify-content: center;
}

.return-button {
  align-self: flex-start;

  color: grey;
  background-color: transparent;
  padding: 3px 10px 3px 10px;
  border: 2px solid lightgrey;
  border-radius: 5px;
  text-decoration: none;
  position: relative;
  transition: 0.25s ease-in-out;

  &:hover {
    border-color: transparent;
    background-color: lightgreen;
    color: white;

    &:after {
      transform: scaleY(1);
    }
  }

  &:visited {
    outline: none;
    color: darkgrey;
  }
}

.post {
  .link.prev {
    float: left;
  }

  .link.next {
    float: right;
  }

  .title {
    font-size: 3em;

  }

  .title, .post .date, .description {
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .date {
    opacity: 0.5;
    text-align: center;
  }

  .description {
    opacity: 0.5;
    font-weight: lighter;
  }

  .tags {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;

    margin-top: -20px;

    * {
      color: white;
      background-color: lightgrey;
      margin: 10px 5px 10px 10px;
      font-size: 0.6em;
      padding: 0px 10px 0px 10px;
      border-radius: 5px;
      text-transform: uppercase;
      letter-spacing: 5px;
      transition: 0.2s ease-in;

      &:hover {
        background-color: lightgreen;
      }
    }
  }

  .navigation {
    min-height: 60px;
  }

  img {
    border-radius: 5px;
  }
}
