.header {
  background-image: linear-gradient(-180deg, #1D1D1D 0%, #4A4A4A 100%);
  box-shadow: 0 2px 40px 0 rgba(0,0,0,0.40);
  transition: 0.4s ease-out;
}

.header.hidden {
  transform: translateY(-100%);
  position:absolute;
  width: 100%;
}

.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  max-height: 100px;

  border-radius: 10px;
  padding: 10px 10px 0px 10px;
}

.header-img {
  height: 25px;
  width: 25px;
  opacity: 0.75;
  transition: 0.25s linear;

  &:hover {
    opacity: 1.00;
    transform: scale(1.1);
  }
}

.header-social-icons {
  * {
    margin-left: 5px;
    margin-right: 5px;
    height: 25px;
  }
}

.header-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  * {
    margin-bottom: 20px;
  }
}

.header-title {
  color: #EDEDED;
  font-size: 3em;
}

.description-tags {
  display: flex;
  flex-direction: row;

  .tag{
    opacity: 0.7;
    border-style: solid;
    border-color: lightgreen;
    border-width: 1px;
    font-size: 0.75em;
    margin: 5px;
    font-weight: lighter;
    color: lightgreen;
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
    transition: 0.2s linear;
  }
}

.header-description {
  color: #B7B7B7;
}
