@import '/../../css/breakpoints.scss';

.nav-bar {
  display: flex;
  flex-direction: row;

  justify-content: space-around;
  align-items: center;
  min-height: 10%;

  margin: 10px 25% 2.5% 25%;
  z-index: 999;

  transition: 0.4s ease-out;

  @include respond-to("mobile") {
    background: rgba(200,200,200,0.8);
    order: 3;
    margin: 0;
    bottom: 0;
    padding: 0;
    width: 100%;
    min-height: 10%;
    font-weight: bold;
    box-shadow: 0 2px 40px 0 rgba(0,0,0,0.20);


    .nav-bar-background {
      background-color: red;
    }

    .nav-btn {
      color: white;
      border-bottom-color: white;
    }

    .nav-btn.selected {
      font-size: 1.2em;
      padding: 2.5% 5% 2.5% 5%;
    }
  }

}

.nav-btn {
  background-color: transparent;
  color: darkgrey;
  font-size: 1.2em;

  border-bottom-style: solid;
  border-bottom-color: lightgrey;
  border-bottom-width: 2px;
  padding: 0px 10px 10px 10px;
  margin: 10px;
  text-decoration: none;
  transition: 0.4s ease-out;

  &:hover{
    border-bottom-color: lightgreen;
  }

}

.nav-btn.selected{
  border-radius: 5px;
  background-color: white;
  padding: 2.5vh 12.5% 2.5vh 12.5%;
  box-shadow: 0 1px 12px 1px rgba(0,0,0,0.20);
  color: lightgreen;
  transition: 0.25s linear;
  font-size: 1.5em;
}
