@import '/../../css/breakpoints.scss';

.nav-bar {
  display: flex;
  flex-direction: row;

  justify-content: space-around;
  align-items: center;
  min-height: 10%;

  margin: 10px 25% 2.5% 25%;
  z-index: 999;

  transition: 0.4s ease-out;

  @include respond-to("mobile") {
    background: rgba(200,200,200,0.8);
    position: fixed;
    margin: 0;
    bottom: 0;
    width: 100%;
    min-height: 10%;
    font-weight: bold;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    .nav-bar-background {
      background-color: red;
    }

    .nav-btn {
      color: white;
      border-bottom-color: white;
    }
  }

}

.nav-btn {
  background-color: transparent;
  color: darkgrey;
  font-size: 1.2em;

  border-bottom-style: solid;
  border-bottom-color: lightgrey;
  border-bottom-width: 2px;
  padding: 0px 10px 10px 10px;
  margin: 10px;
  text-decoration: none;
  transition: 0.4s ease-out;

  &:hover{
    border-bottom-color: lightgreen;
  }

}
